#board{
    padding: 3em;
    text-align: center;
}

.row > div{
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-family: 'Turret Road', cursive;
}

.row{
    clear: both;
    text-align: center;
    width: 302px;
    margin: 0 auto;
}

.top{
    border-bottom: 1px white solid;
}

.bottom{
    border-top: 1px white solid;
}

.left{
    border-right: 1px white solid;
}

.right{
    border-left: 1px white solid;
}
h1{
    font-family: 'Turret Road', cursive;
    font-size: 3em;
    color: rgb(187, 141, 164);

}

.square{
    float: left;
    clear: right;
    width: 100px;
    height: 100px;
    background-color: rgb(197, 117, 117);
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: white;
    line-height: 100px;
    font-size: 5rem;
}